MODEL_PATH=models/plant_disease_model_int8.tflite
MODEL_JSON=models/global_mobilenet_pv_pv_white.json
MODEL_WEIGHTS=models/global_mobilenet_pv_pv_white.h5
USE_TFLITE=true
MAX_IMAGE_SIZE=500
CORS_ORIGINS=http://localhost:3000
